h1,
.h1{
    color: #96C7DA;
}

h2,
.h2{
    color: #68A5BC;
}

h3,
.h3{
    color: #4E9BB9;
}

// h4,
// .h4{
//     color: #68A5BC;
// }
//
// h5,
// .h5{
//     color: #96C7DA;
// }

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4
h5,
.h5{
    font-weight: bold;
}

// list
.u-li{
    background-color: rgba(225, 120, 24, 0.25);
    color: #6A1D18;
}
.o-li{
    background-color: rgba(225, 120, 24, 0.25);
    color: #6A1D18;
}

// code
.code{
    background-color: rgba(39, 40, 34, 1);
    color: #fff;
}
