html,body{
    margin: 0;
    padding: 0;
    font-family: "Monoid" "Avenir" "Anonymous pro" "monaco";
}
.foot-tip{
    position: fixed;
    bottom: 1em;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 14px;
    color: #999;
}

@import "welcome/index.less";
