*{
    box-sizing: border-box;
    &::after, &::before{
        box-sizing: inherit;
    }
}

html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    font-family: "Inconsolata", "Avenir", "Anonymous pro", "monaco";
    font-size: 17px;
}
.foot-tip{
    position: fixed;
    bottom: 1em;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 18px;
    color: #999;
}

main, #ctn{
    height: 100%;
}

@import "welcome/index.less";
@import "editor/index.less";
// @import "composer/index.less";
