.loading{
    position: absolute;
    padding-top: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 100%;
    background-color: #fff;
    // image 可以base64直接放在html页面里面
    // 没有加载时间, 只有... 解码时间
    // background-image: url(../img/loading.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0;
    overflow: hidden;
    transition: opacity 200ms ease, bottom 0ms ease 200ms, padding 0ms ease 200ms;

    text-align: center;
    font-size: 16px;
    color: #456;
    h1{
        font-size: 40px;
    }
    h1, h2{
        display: inline-block;
        padding: 10px 20px;
        // background-color: rgba(0,0,0, 0.25);
        background-color: rgba(255,255,255, 0.35);
        border-radius: 4px;
    }
}
.welcome{
    .loading{
        padding-top: 8em;
        opacity: 1;
        bottom: 0;
    }

}
